.charts {
  width: 100%;
  height: 100%;
  background-color: white;
  padding-left:15px;
  }
.overviewChart {
  width: 800px;
  height: 500px;
}

  .scatterChart {
    width: 800px;
    height: 500px;
  }
  .bubbleChart {

  }

  .allMetricsChart {
    float:left;
  }

  .barChart {

  }
