.overviewChart {
  width: 800px;
  height: 500px;
  float:left;
}


.scatterChart {
  width: 800px;
  height: 500px;
}
.bubbleChart {
  clear:left;
  float:left;
}

.allMetricsChart {
  float:left;
}

.barChart {
float:left;
}