.charts {
  width: 100%;
  height: 100%;
  background-color: white;
  padding-left:15px;
  }
.overviewChart {

}

  .scatterChart {
    width: 800px;
    height: 500px;
  }
  .bubbleChart {

  }

  .allMetricsChart {
  }

  .barChart {

  }
  .personalOverallBarChart {

  }

  .overallFeatureChart {
    padding-bottom:250px;
  }
