@import url("charts.less");

html.md-default-theme, html {
  width: 70%;
  height: 70%;
  background-image: url(../css/logo_preview.png);
  display: inline-block;
}
body.md-default-theme, body {
  width: 100%;
  height: 100%;
  background-image: url(../css/logo_preview.png);
  display: inline-block;
  padding-left:20%;
  padding-right:20%;
}

header {
  position: fixed;
  height: 50px;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background: #f0f0f0;
  border-bottom: 1px solid grey;
  box-shadow: 0 2px 2px 0 rgba(139, 139, 139, 0.75);
  padding: 0.7em;
  h2 {
    display: inline-block;
  }
  button {
    margin-top: 10px;
    float: right;
  }
}

footer {
  position: fixed;
  height: 21px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f0f0f0;
  border-top: 1px solid grey;
  box-shadow: 0 -2px 2px 0 rgba(137, 137, 137, 0.75);
  padding-right: 1em;
  h3 {
    float: right;
    display: inline-block;
  }
}

.content {
  width: 100%;
  padding-top:7%;
  background-color: white;
  hr {
    background: black;
    padding:0%;
    height:1px;
    color: black;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }
  display: inline-block;
}

.results {
  background-color: white;
  padding: 15px;
  overflow:auto;
  clear:left;
}

.personalResult {
  background-color: white;
  height: 100%;
  padding: 15px;
  clear:left;
  form {
    padding-bottom: 2em;
  }
}

.mw-data-table {
  td {
    min-width: 150px;
    max-width: 550px;
    text-align: center;
    overflow-wrap: break-word;
  }
  tr td:first-child {
    text-align: left;
    white-space: normal;
    width: 550px;
  }
  .md-ink-ripple {
    left: auto;
  }
}

.mw-form-viewer{


}

.buttonWrapper {
  display: inline-block;
  float: right;
}

.csvImport {
  float: left;
  width: 300px;
  margin: 7px;
  padding: 5px;
  overflow: hidden;
  border: 1px solid grey;
  .label {
    display: none;
  }
  .ng-csv-import-header-switch {
    display: none;
  }
  div {
    span {
      display: none;
    }
  }
}

.logos {
  width: 100%;
  height: 100px;
  background-color: white;
  padding-top:18px;
  padding-bottom:2%;
}
#kitlogo {
  content:url(../css/KIT.jpg);
  height: 110px;
  width: 238px;
  float:left;
  padding-left:15px;
}

#iismlogo {
  content:url(../css/IISM.jpg);
  height: 110px;
  width: 375px;
  float:right;
  padding-right:15px;
}

.angular-with-newlines {
  white-space: pre-wrap;
}

.intro {
  padding-left: 15px;
  padding-right: 15px;
}


