<div class="personalResult">
    <h1>
        Personal Results
    </h1>

    <span>With this assessment we evaluated how you use <b>{{personalResult.tool}}</b>. With the help of the survey
                    that you filled out, we were able to identify other users, who use their BI tool for similar tasks like you.
                The below gauges represent how {{personalResult.tool}} scores among people, who use it for similar decisions like you.
                </span>

    </br>

    <div class="gauge" id="gauge"></div>

    <h4>The top 10 BI Tools in the category <select ng-model="myPersonalCategory"
                                                    ng-init="myPersonalCategory = 'Overall'"
                                                    ng-options="category as category for category in categories"
                                                    ng-change="redrawAll()"></select>
    </h4>
    <div class="chartContainer">
        <div ng-show="myPersonalCategory == 'Overall'" class="barChart" id="personalOverallBarChart"></div>
        <div ng-show="myPersonalCategory == 'Usefulness'" class="barChart"
             id="usefulPersonalOverallBarChart"></div>
        <div ng-show="myPersonalCategory == 'Ease Of Use'" class="barChart"
             id="easyPersonalOverallBarChart"></div>
        <div ng-show="myPersonalCategory == 'Net Benefits'" class="barChart"
             id="beneficialPersonalOverallBarChart"></div>
        <div ng-show="myPersonalCategory == 'Intention to Use'" class="barChart"
             id="usablePersonalOverallBarChart"></div>
    </div>


    <h4>
        Feature use in your decision category
    </h4>
    <div class="barChart" id="featureChart"></div>


    <!--<span>Hello {{personalResult.alias}}! Your decision type is: {{personalResult.decisionType}}!</span></br>
    <span>{{conditionalResultsByDecisionType.length - 1}} other people make the same type of decisions.</span></br>

    <span>You selected to support the following business processes with {{personalResult.tool}}:</span>
    <ul>
        <li ng-repeat="process in personalProcesses">
            {{process}}
        </li>
    </ul>
    <span ng-repeat="process in personalProcesses">The best tools for {{process}} are:
    <ul>
        <li ng-repeat="tool in processToolScores[process] | object2Array | orderBy:'average':true | limitTo:5">
            {{tool.toolName}} - Rating: {{tool.average.toFixed(3)}} - (n = {{tool.count}})
        </li>
    </ul>
    </span>
        <div class="scatterChart" id="scatterChart"></div>
        <div class="scatterChart" id="scatter"></div>-->
</div>

<!--
        Hier beginnt der allgemeine Teil
-->

<!--            <div class="overallResults">
                <h2>General Results</h2>
                <span>This section summarizes the collected information of all users of the Assessment Tool.
                    The Tools were evaluated in 4 categories: Usefulness, Ease of Use,
                    Perceived Benefits, and Intention to Use the tool. The maximum score that could  be reached is 100.
                    In the following you can choose one of the evaluation categories or an overall score to display the
                    10 tools with the highest average rating in this category.</span>


            </div>-->
</div>


