<div class= "personalResult">
    <h1>
        Personal Results
    </h1>

    <span>With this assessment we evaluated how you use <b>{{personalResult.tool}}</b>. With the help of the survey
                    that you filled out, we were able to identify other users, who use their BI tool for similar tasks like you.
                The below gauges represent how {{personalResult.tool}} scores among people, who use it for similar decisions like you.
                </span>

    </br>
    <div class="resultsDashboard">
        <div class="chartContent">
            <h4>
                Rating of {{personalResult.tool}} among similar users like you:
            </h4>


            <div class="gauge" id="gauge"></div>
        </div>
        <div class="selectBar"  ng-model="personalView" ng-init="personalView = 'personalOverall'">
            <div class="selectButton" id= "left">
                <button class="btn" ng-click="personalView = 'personalOverall'; calcAndShowResults()" id="scores"
                        type="submit">Scores
                </button>
            </div>
            <div class="selectButton">
                <button class="btn" ng-click="personalView = 'personalDistribution'; calcAndShowResults()"
                        id="distribution" type="submit">Tool Distribution
                </button>
            </div>
            <div class="selectButton">
                <button class="btn" ng-click="personalView = 'features'; calcAndShowResults()" id="capabilities"
                        type="submit">BI Capabilities
                </button>
            </div>
            <div class="selectButton" id = "right">
                <button class="btn" ng-click="personalView = 'personalEasy'; calcAndShowResults()" id="easevsuse"
                        type="submit">Ease of Use vs Usefulness
                </button>
            </div>
        </div>
        <div class="chartContainer">
            <div class="chartContent">
                <div ng-show ="personalView == 'personalOverall'" class = "charts" id = "generalOverall">
                    <div class = "selection">
                        <h3>Rating of BI Tools in the Category <select ng-model="myPersonalCategory"
                                                                        ng-init="myPersonalCategory = 'Overall'"
                                                                        ng-options="category as category for category in categories"
                                                                        ng-change="getPersonalResult(); calcAndShowResults()"></select>
                        </h3>
                    </div>
                    <div class="barChart" id="personalOverallBarChart"></div>
                </div>
                <div ng-show ="personalView == 'personalDistribution'" class = "charts" id = "personalDistribution">
                    <div class="selection">
                        <h2>
                            Distribution of different BI Tools in this Data Set
                        </h2>
                    </div>
                    <div class="barChart" id="personalOverviewChart"></div>
                </div>

                <div ng-show ="personalView == 'features'" class = "charts" id = "personalFeatures">
                    <div class="selection">
                        <h2>
                            Feature Use of Similar Users
                        </h2>
                    </div>
                    <div class="barChart" id="featureChart"></div>
                </div>
                <div ng-show ="personalView == 'personalEasy'" class = "charts" id = "easvsUse">
                    <div class="selection">
                        <h2>
                            Ease of Use vs. Usefulness
                        </h2>
                    </div>
                    <div class="barChart" id="easy"></div>
                </div>

            </div>
        </div>


    </div>
</div>


        <!--<span>Hello {{personalResult.alias}}! Your decision type is: {{personalResult.decisionType}}!</span></br>
        <span>{{conditionalResultsByDecisionType.length - 1}} other people make the same type of decisions.</span></br>

        <span>You selected to support the following business processes with {{personalResult.tool}}:</span>
        <ul>
            <li ng-repeat="process in personalProcesses">
                {{process}}
            </li>
        </ul>
        <span ng-repeat="process in personalProcesses">The best tools for {{process}} are:
        <ul>
            <li ng-repeat="tool in processToolScores[process] | object2Array | orderBy:'average':true | limitTo:5">
                {{tool.toolName}} - Rating: {{tool.average.toFixed(3)}} - (n = {{tool.count}})
            </li>
        </ul>
        </span>



